*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;

  /*backgorund image*/
  background-image: url("img/luffy-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.carousel {
  /* display: flex;
    justify-content: center; */
  background-color: rgba(255, 255, 255, 0.613);
  width: 80vw;
  height: 80vh;
  margin-top: 5%;

  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mySlide {
  padding: 30px 30px;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0; /*base slide layer*/
  pointer-events: none; /*dont block clicks when hidden*/

  user-select: none; /*prevent selection on hidden slides*/
}
.mySlide[data-active] {
  /*selects only elements with both class 'slide' AND  attribute 'data-active'*/
  opacity: 1;
  transition-delay: 0ms;
  z-index: 2; /*ensure active slide sits on top*/
  pointer-events: auto; /*allow clicking/selecting*/
  user-select: text; /*enable selection on active slide*/
}

.profile-picture {
  height: 50%;
}
.text {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 24px;
  font-weight: 600;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 0 3px 3px 0;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.button.next {
  right: 5%;
}
.button.previous {
  left: 5%;
}

.audio {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
}
